{% extends "base/base.html" %} {% block start %} 
<section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <main class="col-md-9">
    <div class="card">
    
    <table class="table table-borderless table-shopping-cart">
    {% if not cart_items %}
    <div class="alert ">
        <p class="text-center text-muted">Your cart is empty</p>
    </div>
    
    {%else%}
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" width="120">Quantity</th>
      <th scope="col" width="120">Price</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        
        <tr>
            <td>
                <figure class="itemside">
                    <div class="aside"><img src="/media/{{item.product.product_images.first.image}}" class="img-sm"></div>
                    <figcaption class="info">
                        <a href="#" class="title text-dark">{{ item.product.product_name }}</a>
                        <p class="text-muted small">Size: {{ item.sizeVariant.size_name }}, Color: {{ item.colorVariant.color_name }}</p>
                    </figcaption>
                </figure>
            </td>
            <td>
                <form  method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="quantity_update">
                    <input type="hidden" name="cart_item" value="{{ item.uid }}">
                    <select onchange="this.form.submit()" class="form-control" name="quantity">
                        <option value="1" {% if item.quantity == 1 %} selected {% endif %}>1</option>
                        <option value="2" {% if item.quantity == 2 %} selected {% endif %}>2</option>    
                        <option value="3" {% if item.quantity == 3 %} selected {% endif %}>3</option>    
                        <option value="4" {% if item.quantity == 4 %} selected {% endif %}>4</option>     
                    </select> 
                </form>
            </td>
            <td> 
                <div class="price-wrap"> 
                    <var class="price">${{  item.get_product_price }}</var>
                    <small class="text-muted"> ${{ item.product.price }} each </small> 
                </div> <!-- price-wrap .// -->
            </td>
            <td class="text-right"> 
                <a href="{% url 'remove_cart' item.uid %}" class="btn btn-light"> Remove</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
    {% endif %}
    </table>
    
    <div class="card-body border-top">
        {% if cart_items %}
        <a href="/account/checkout" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a> 
        {%endif%}
        <a href="/" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
    </div>	
    </div> <!-- card.// -->
    
    <div class="alert alert-success mt-3">
        <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
    </div>
    
        </main> <!-- col.// -->
        <aside class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% include 'base/alert.html' %}
                    <div class="form-group">
                        <label>Have coupon?</label>
                        <div class="input-group">
                            <input type="hidden" name="form_type" value="coupon">
                            <input type="text" class="form-control" name="coupon" placeholder="Coupon code">
                            <span class="input-group-append"> 
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </span>
                        </div>
                        
                    </div>
                    
                </form>
                {%if cart.coupon%}
                    <a href="{% url 'remove_coupon' cart.uid%}" class="btn py-0 btn-light">{{cart.coupon.coupon_code}} ❌ </a>
                 {%endif%}
                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
            <div class="card">
                <div class="card-body">
                    {%if cart.coupon%}
                        <dl class="dlist-align">
                          <dt>Sub Total:</dt>
                          <dd class="text-right">USD {{sub_total_price}}</dd>
                        </dl>
                        
                        <dl class="dlist-align">
                          <dt>Discount:</dt>
                          <dd class="text-right">-{{cart.coupon.discount_price}}</dd>
                        </dl>
                        {%endif%}
                        <dl class="dlist-align">
                          <dt>Total:</dt>
                          <dd class="text-right  h5"><strong>${{total_price}}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="/media/images/misc/payments.png" height="26">
                        </p>
                        
                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
        </aside> <!-- col.// -->
    </div>
    
    </div> <!-- container .//  -->
    </section>
{% endblock %}